.Notification {
    border: 2px solid black;
    border-radius: 5px;
    text-align: left;
    padding: 1em;
    position: relative;
}

.Notification__close {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    user-select: none;
    font-size: 18px;
    top: 0;
}

.Notification_info {
    background-color: lightblue;
    border-color: rgb(88, 139, 157);
}

.Notification_warning {
    background-color: rgb(245, 223, 82);
    border-color: rgb(255, 230, 39);
}

.Notification_success {
    background-color: rgb(144, 235, 114);
    border-color: rgb(16, 117, 24);
}

.Notification_error {
    background-color: rgb(241, 122, 104);
    border-color: rgb(255, 1, 1);
}


