.box1 {
    width: 200px;
    height: 100px;
    padding: 50px;
    border: 4px solid blue;
    background-color: lightgray;
    text-align: center;
}

.box2 {
    width: 200px;
    height: 100px;
    padding: 50px;
    border: 4px solid blue;
    background-color: lightblue;
    text-align: center;
}