

h1 {font-size: 2.5 em;
    font-weight: 900;
}

h2 {font-size: 2 em; 
    font-weight: 700;
}

h6 {font-size: 1.5 em;
    font-weight: 500;
}

p {font-size: 1.2 em;
    font-weight: 300;
}

ul {font-size: 1.1 em;
    font-weight: 600;
}