* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 920px;
    flex-wrap: wrap;
}
.header__left-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.header__logo {
    flex-grow: 0;
}
.phone-container {
    flex-grow: 0;
}

.main {
    max-width: 920px;
}

.menu-nav{
    
    flex-grow: 1;
}

.menu-nav__links {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 8px;
}

@media screen and (max-width: 425px) {
    .header {
        flex-direction: column-reverse;
        text-align: center;
    }
    .header__left-flex-container {
        flex-direction: column;
    }
    .menu-nav__links {
        justify-content: center;
    }
}

.heading {
     margin: 0 auto;   
}
.heading__text{
    text-align: left;
    padding: 10px;
}

.heading__nav {
    display: flex;
    justify-content: center;
}

.heading__nav-links {
    display: flex;
    list-style-type: none;
    flex-grow: 1;
    gap: 8px;
    justify-content: center;
}

.places {
    padding: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.places > div {
    flex-basis: 30%;
    flex-shrink: 0;
    flex-grow: 1;

}

.assortment {
    padding: 10px;
}

.big-bouquets {
    display: flex;         
    list-style: none;      
    padding: 0;
    gap: 20px;             
    justify-content: center; 
}

.bouquet-item img {
    width: 100%;           
    height: auto;
    display: block;
}

.bouquet-sicez {
    box-sizing: border-box;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 8px;
    text-align: center;
}
