body {
    background-color: hsl(192, 60%, 90%);
}
.images img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: contrast(80%);
}
.images div{
    display: block;
    width: 27%;
    height: 80vh;
    overflow: hidden;
    border-radius: 24px;
}
.images {
    display: flex;
    font-size: 0;
    text-align: center;
    justify-content: space-around;
    min-height: 90vh;
    align-items: center;
}
/* mdn display  Литература интересная к прочтению */